# Handle line endings automatically for files detected as text and leave all
# files detected as binary untouched. This will handle all files NOT defined
# below.
* text eol=lf

################################################################################
# Source Code
################################################################################

*.js              text
*.sh              text

################################################################################
# Configs
################################################################################

.editorconfig     text         export-ignore  linguist-vendored
.gitattributes    text         export-ignore  linguist-vendored
.gitignore        text         export-ignore  linguist-vendored
.keep             text         export-ignore  linguist-vendored

################################################################################
# Documentation
################################################################################

*.md              text
LICENCE           text                        linguist-documentation
README.md         text                        linguist-documentation

################################################################################
# Contextual
################################################################################

dotfiles/*                                    linguist-vendored
